<body>
    <header class="bg-primary text-center py-5 mb-4">
        <div class="container">
          <h1 class="font-weight-light text-white">Courses for you</h1>
        </div>
      </header>  

      <div class="row" >
        <div class="card col-sm-5 ml-5 mt-2 mb-5" *ngFor="let courses of course">
          <h5 class="card-header bg-info" >{{courses.title}}</h5>
          <div class="card-body d-flex flex-column">
            <h6 class="card-text">{{courses.description}}</h6>
              <div class="card-text">
                <p>Course duration:{{courses.duration}}</p>
                <p>Course fee:{{courses.fee}}</p>
                <p>Last date to register :{{courses.lastdate}}</p>
                
              </div>
            <a routerLink="/apply" class="btn btn-primary mt-auto" *ngIf="auth.StudentloggedIn() && isDisabled(courses.lastdate)" id="">APPLY</a>
          </div>
        </div>
      </div>
      
</body>

