<div class="main">
    <div class='card ' style="margin-top: 100px;">
      <div class='card-header bg-info'>
     <h4>STUDENT LIST</h4>
      </div>
      
      <div class='card-body'>            
        <div class='table-responsive'>
          <table class='table'>
                <!-- *ngIf = 'products && products.length'> -->
            <thead>
              <tr>
               
                <th>Name</th>
                
                <th>Date of Birth</th>
                <th>Address</th>
                <th>Email</th>
                <th>Qulification</th>
                <th>Course</th>
              </tr>
             
            </thead>
            <tbody *ngFor="let appliedStd of appliedStds">  
                <tr >
                  <td>
                     {{appliedStd.fname}}
                    </td>
                   
                    <td>
                      {{appliedStd.DOB}}
                    </td>
                    <td>
                      {{appliedStd.address}}
                    </td>
                    <td>
                      {{appliedStd.email}}
                    </td>
                      <td>
                        {{appliedStd.qual}}
                      </td>
                        <td>
                          {{appliedStd.course}}
                        </td>
                       
                        <td>
                     
                       <button class="btn btn-success" style="cursor:pointer" style="margin-left: 10px; margin-right: 20px;" (click)="accept(appliedStd)" > ACCEPT</button> 
                      <button class="btn btn-danger" style="cursor:pointer"  style="margin-left: 10px; margin-top: 20px; margin-bottom: 20px;" (click)= "reject(appliedStd)" > REJECT</button>
                    
     
                    </td>
                  </tr>              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    
